<%- include('partials/header.ejs') %>

    <%- include('partials/navbar.ejs') %>

        <div class="container">
            <h3 class="mt-5 heading">Update <span>Restaurant</span></h3>

            <form action="/updateResturant" method="post" class="row g-3 m-3">
                <input type="hidden" id="id" name="id" value="<%= updateValue._id %>">

                <div class="col-md-6">
                    <label for="building" class="form-label">Building</label>
                    <input type="text" class="form-control" id="building" name="building"
                        value="<%= updateValue.address.building %>" required><br>
                </div>

                <div class="col-md-6">
                    <label for="building" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="longitude" name="longitude"
                        value="<%= updateValue.address.coord[0] %>" required><br>
                </div>

                <div class="col-md-6">
                    <label for="building" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="latitude" name="latitude"
                        value="<%= updateValue.address.coord[1] %>" required><br>
                </div>

                <div class="col-md-6">
                    <label for="building" class="form-label">Street</label>
                    <input type="text" class="form-control" id="street" name="street"
                        value="<%= updateValue.address.street %>" required><br>
                </div>

                <div class="col-md-6">
                    <label for="building" class="form-label">Zipcode</label>
                    <input type="text" class="form-control" id="zipcode" name="zipcode"
                        value="<%= updateValue.address.zipcode %>" required><br>
                </div>

                <div class="col-md-6">
                    <label for="building" class="form-label">Borough</label>
                    <input type="text" class="form-control" id="borough" name="borough"
                        value="<%= updateValue.borough %>" required><br>
                </div>

                <div class="col-md-6">
                    <label for="building" class="form-label">Cuisine</label>
                    <input type="text" class="form-control" id="cuisine" name="cuisine"
                        value="<%= updateValue.cuisine %>" required><br>
                </div>

                <div class="col-md-6">
                    <label for="building" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= updateValue.name %>"
                        required><br>
                </div>

                <div class="col-md-6">
                    <label for="building" class="form-label">Restaurant Id</label>
                    <input type="text" class="form-control" id="restaurant_id" value="<%= updateValue.restaurant_id %>"
                        name="restaurant_id" required><br>
                </div>
                <div id="grades-container">
                    <% updateValue.grades.forEach((grade, index)=> { %>
                        <div class="grade row">
                            <div class="col-md-4">
                                <label for="grade<%= index %>_date">Grade Date:</label>
                                <input type="datetime-local" class="form-control" name="grades[<%= index %>][date]"
                                    value="<%= grade.date.toISOString().slice(0, 16) %>" required>
                            </div>
                            <div class="col-md-4">

                                <label for="grade<%= index %>_grade">Grade:</label>
                                <input type="text" class="form-control" name="grades[<%= index %>][grade]"
                                    value="<%= grade.grade %>" required>
                            </div>
                            <div class="col-md-4">

                                <label for="grade<%= index %>_score">Score:</label>
                                <input type="text" class="form-control" name="grades[<%= index %>][score]"
                                    value="<%= grade.score %>" required>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <!-- <button type="button" id   ="add-grade">Add Grade</button>
    <button type="button" id="remove-grade">Remove Grade</button> -->
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-secondary mt-2">Update Restaurant</button>
                </div>
            </form>



        </div>
        <%- include('./partials/footer.ejs') %>